// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.max-350{
    max-width: 350px;
}

.block{
    display: block;
}

.id-pic{
    @include govuk-responsive-padding(4, "top");
    @include govuk-responsive-padding(4, "bottom");
}

.external-panel {
  text-decoration: none;
}

.responsive-image {
  height: auto;
  width: 60%;
  margin: 0 auto;
}

.responsive-image-center {
  height: auto;
  width: 54%;
  display: flex;
  margin: 0 auto;
}

.responsive-image-long {
  height: auto;
  width: 80%;
}

@media (min-width: 48.0625em) {
  .responsive-image {
    width: 50%;
    margin: 0 auto;
  }
  .responsive-image-long {
    width: 38%;
  }
  .responsive-image-center {
    height: auto;
    width: 44%;
    margin: 0;
  }
}

.family-account-home-button {
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: #f8f8f8;
  border: 1px solid #d7dde0;
  padding: 1rem;
  cursor: pointer
}

.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8;
  }

  .govuk-notification-banner__header {
    padding: 2px 5px 5px 5px;
    border-bottom: 1px solid transparent;
}

.govuk-notification-banner__heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    padding: 0;
}

.govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}


.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

.govuk-notification-banner {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

.govuk-panel-lft-result {
  background: #0065bb !important;
}

.govuk-panel-card {
  background: #0065bb !important;
  text-align: left !important;
}

.govuk-panel-card-body {

}

.govuk-panel-card  p, .govuk-panel-card  li, .govuk-panel-card  a {
  color: #fff !important;
}

.govuk-panel-card  button {
  background-color: #fff;
  box-shadow: 0 2px 0 #000;
  color: #0065bb !important;
  font-weight: bold;
}

.govuk-panel-card  button:hover {
  background-color: black;
  color: white !important;
}

.govuk-panel-card  a:hover {
  color: black !important;
}


.button-styled-link {
    cursor: pointer;
    border: none;
    color: #1d70b8;
    background-color: transparent;
    text-decoration: underline;
}

.button-styled-link:hover {
    color: #003078
}

.button-styled-link:visited {
    color: #4c2c92
}

.button-styled-link:active,
.button-styled-link:focus {
    color: #0b0c0c;
    outline: 0
}

.expand-header-menu:after {
  content: '';
  position: absolute;
  left: 3.7em;
  top: 40%;
	width: 0;
	height: 0;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #FFFFFF transparent;
	border-style: solid;
	transform: rotate(180deg);
}

.recommended-box {
    padding: 1em;
    border: 3px dashed #b1b4b6;
}

.recommended-box-green {
  padding: 1em;
  border: 3px dashed #00703c;
}

.checkmark-box {
    display: flex;
    align-items: center;
}

.checkmark-green {
    border-radius: 50%;
    background-color:#00703c;
    height: 1.3em;
    width: 1.3em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-right: .4em;
}

.checkmark-white {
  border-radius: 50%;
  background-color:#ffffff;
  height: 1.4em;
  width: 1.4em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .4em;
}

.checkmark-black {
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  color: #000000;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  justify-content: center;
  margin-right: .4em;
}
.checkmark-black.bold {
  border: 2px solid #000;
}

.checkmark-list li {
  list-style-type: none;
  position: relative;
}
.checkmark-list::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  left: -50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  justify-content: center;
}
.checkmark-list.list-one::before {
  background: url('../images/checklist1.svg');
}
.checkmark-list.list-two::before {
  background: url('../images/checklist2.svg');
}

.info-summary > p {
  padding: 15px 30px 15px 10px;
  border-bottom: 1px solid #b1b4b6;
}

.info-summary div {
  padding: 10px 10px 10px 0;
  border-top: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
}

.info-summary div p {
  padding: 10px 0 0 0;
}

@media (min-width: 40.0625em) {
  .info-summary > p {
    display: inline-block;
  }
  .info-summary div p {
    padding: 10px 30px 0 0;
    display: inline-block;
  }
}

// for photo-error-infographic screen

.photo-guide-photos {
 overflow-x:auto;
 overflow-y:hidden;
 -webkit-overflow-scrolling:touch;
}
.photo-guide-photos ul {
 display:flex;
 overflow:hidden;
 margin-left:-48px
}
.photo-guide-photos ul:after {
 content:"";
 display:block;
 clear:both
}
.photo-guide-photos ul li {
 flex:1;
 position:relative;
 box-sizing:border-box;
 float:left;
 padding-left:8px;
 list-style: none;
}
.photo-guide-photos img {
 width:100%;
 vertical-align:bottom
}
.photo-guide-photos .result {
 font-size:12px;
 width:100%;
 color:#0b0c0c
}
@media (min-width: 40.0625em) {
 .photo-guide-photos .result {
  display:flex;
  font-size:16px
 }
}

// .photo-guide-photos .result .approved,
// .photo-guide-photos .result .failed {
//  margin:0;
//  padding:4px 0 4px 18px;
//  background-repeat:no-repeat;
//  background-position:left 0 top 4px;
//  background-size:14px
// }

// @media (min-width: 40.0625em) {
//   .photo-guide-photos .result .approved,
//   .photo-guide-photos .result .failed {
//     width:100%;
//     padding:8px 0 8px 30px;
//     background-position:left 0 top 6px;
//     background-size:22px
//   }
// }

.approved-img {
  margin:0;
  padding:4px 0 4px 18px;
  background-repeat:no-repeat;
  background-position:left 0 top 4px;
  background-size:14px;
  background-image:url("/public/images//icon-thick-tick-large.png");
  @media (min-width: 40.0625em) {
    padding:8px 0 8px 30px;
    background-position:left 0 top 6px;
    background-size:22px;
  }
  
}
.failed-img {
  margin:0;
  padding:4px 0 4px 18px;
  background-repeat:no-repeat;
  background-position:left 0 top 4px;
  background-size:14px;
  background-image:url("/public/images//icon-thick-cross-large.png");
  @media (min-width: 40.0625em) {
    padding:8px 0 8px 30px;
    background-position:left 0 top 6px;
    background-size:22px;
  }
}


.photo-guide-photos.large {
 width:50%;
}
@media (min-width: 40.0625em) {
 .photo-guide-photos.large {
  padding-bottom:8px
 }
}
.panel-photo-result {
 margin:10px 20px 10px 0;
 border-left:0;
 padding-left:38px;
 background-repeat:no-repeat;
 background-position:left 10px;
 background-size:24px
}
@media (min-width: 48.0625em) {
 .panel-photo-result {
  margin-top:10px;
  margin-bottom:30px;
  padding-left:54px;
  background-size:36px
 }
}
.panel-photo-result h2 {
 margin-bottom:0
}
.panel-photo-result ul {
 margin-bottom:0
}
.panel-photo-error {
 background-image:url("/public/images//icon-thick-cross-large.png");
}
.panel-photo-pass {
 background-image:url("/public/images//icon-thick-tick-large.png");
}

// Digital Reader - camera UI for taking a photo and playing it back to user //

// Native camera //

#cameraFileInput {
  display: none;
}

#pictureFromCamera {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

#photo-playback {
  display: none;
}

// End Native camera //

.camera-test-result {
  width: 100%;
}

.camera-test-result.canvas {
  height: 470px;
}

.camera-test-result .camera-overlay {
  position: absolute; background-color: rgba(0,0,0,.6);
}

.camera-test-result .camera-overlay-a11y {
  position: absolute; background-color: rgba(0,0,0,.6);
}

.camera-test-result .camera-overlay.right {
  right: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay.left {
  left: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay.top {
  top: 0;
  width: 36%; height: 6%;
}
.camera-test-result .camera-overlay.bottom {
  bottom: 0;
  width: 36%; height: 6%;
}

.camera-test-result .camera-overlay-a11y.right {
  right: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay-a11y.left {
  left: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay-a11y.top {
  top: 0;
  width: 36%; height: 1%;
}
.camera-test-result .camera-overlay-a11y.bottom {
  bottom: 0;
  width: 36%; height: 11%;
}

@media (min-width: 600px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 600px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 760px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 26%; height: 0%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 26%; height: 0%;
  }
}

@media (min-width: 760px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 26%; height: 0%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 26%; height: 0%;
  }
}

@media (min-width: 890px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 890px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 930px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 20%; height: 7%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 20%; height: 7%;
  }
}

@media (min-width: 930px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 20%; height: 7%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 20%; height: 7%;
  }
}

@media (min-width: 1000px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 16%; height: 11%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 16%; height: 11%;
  }
}

@media (min-width: 1000px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 16%; height: 2%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 16%; height: 21%;
  }
}

@media (min-width: 1030px) {
  .camera-test-result.wrapper {
    transform: scaleX(-1);
  }
}

// start digital reader button //

.image-overlay__button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    // bottom: 3%;
    bottom: 18%;
    z-index: 1;
    height: 10%;
    aspect-ratio: 1/1;
}

.camera-button {
    width: 100%;
    height: 100%;
    position:relative
}

.camera-button:focus {
  @include govuk-focused-text;
}


.camera-button__circle {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #fff;
    opacity:1
}

.camera-button__circle, .camera-button__ring {
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .25s;
    transition:all .25s
}

.camera-button__ring {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    opacity:.8
}

.camera-button:active .camera-button__ring {
    opacity:1
}

.camera-button:active .camera-button__circle {
    opacity:.5
}


.govuk-visually-hidden, .govuk-visually-hidden-focusable {
position: absolute!important;
width: 1px!important;
height: 1px!important;
margin: 0!important;
overflow: hidden!important;
clip: rect(0 0 0 0)!important;
-webkit-clip-path: inset(50%)!important;
clip-path: inset(50%)!important;
white-space: nowrap!important;
}


// End digital reader button //



//Accessibility

.invisible-link .govuk-accordion__open-all {
  display: none;
}

.accessibility-needs-label {
  width: 100%;
}

@media (min-width: 48.0625em) {
  .accessibility-needs-label {
    width: auto;
  }
}

.versions {
  background: white;
  border: 2px solid $govuk-link-colour;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.gem-c-modal-dialogue {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  // overflow-y: scroll;
  outline: 0;
}

.gem-c-modal-dialogue__overlay {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: #0b0c0c;
  pointer-events: none;
  touch-action: none;
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue__box {
      position: relative;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      width: auto;
      max-width: 640px;
      height: auto;
      margin: 30px auto;
      border: 2px solid #0b0c0c;
  }
}

.gem-c-modal-dialogue__box {
  display: block;
  position: fixed;
  background: #fff;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue__box {
    top: 15vh;
    height: auto;
    margin: auto;
    position: relative;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

.gem-c-modal-dialogue__header {
  padding: 9px 15px 10px;
  color: #fff;
  background: #0b0c0c;
}

.gem-c-modal-dialogue__content-scanner {
  padding: 15px 3.4em;
  background: #fff;
}

.gem-c-modal-dialogue__content {
  padding: 15px;
  background: #fff;
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue__box {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
  }
  .gem-c-modal-dialogue__content,
  .gem-c-modal-dialogue__content-scanner {
    padding: 15px;
  }
}

.gem-c-modal-dialogue__close-button,
a.gem-c-modal-dialogue__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border: 0;
  color: #fff;
  background: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3;
}

.gem-c-modal-dialogue__close-button:active,
.gem-c-modal-dialogue__close-button:visited,
.gem-c-modal-dialogue__close-button:focus,
.gem-c-modal-dialogue__close-button:hover,
a.gem-c-modal-dialogue__close-button:active,
a.gem-c-modal-dialogue__close-button:visited,
a.gem-c-modal-dialogue__close-button:focus,
a.gem-c-modal-dialogue__close-button:hover {
  background: none;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  box-shadow: none;
}

.mobile-optimised-link {
  text-align: center;
}

@media (min-width: 40.0625em) {
  .mobile-optimised-link {
    text-align: left;
  }
}

// spinningng loader used on photo-confirmed
 
.ccms-loader {
  border: 12px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #005EA5;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
  text-align: center;
  margin: 20px auto 10px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Make Secondary button more accessible by increasing contrast on box shadow - based on external audit by DigInclusion in March 23 */

.govuk-button--secondary {
  box-shadow: 0 2px 0 #444 !important;
}


